.contener {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: #F3976C solid 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-size: 2em;
    font-weight: bold;
    color: #F3976C;
}

.text-orange {
    color: #F3976C;
}

.formulaire {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.rep_formulaire {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.infoEtFormulaire {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contener2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.space {
    margin-top: 40px;
}

.fab.fa-instagram,.fas.fa-basketball-ball,.fab.fa-facebook-f,.fab.fa-twitter {
    font-size: 50px;
}

.size{
    font-size: 15px;
}

.bouton {
    display: flex;
    flex-direction: row;
    justify-content: center;    
}
.row-no-gutters {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 600px;
}

.social {
    margin-left: 50px;
    margin-right: 50px;
}
.text-center {
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
}

@media screen and (min-width: 700px) {
    .space {
        display: flex;
        flex-direction: row;
        margin-right: auto;
        margin-left: auto;
    }
}


